<div class="container"  >
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class=" col m4 s6" >
      <div (click)="goToPokemon(pokemon)" class="card horizontal"  pokmnBorderCard>
        <div class="card-image">
          <img [src]="pokemon.picture"/>

        </div>
        <div class="card-stacked">
          <div class="card-content" style="font-size: 18px">
            <p style="font-weight:bold;">{{pokemon.name}}</p>
            <p><small>{{pokemon.created | date:'dd/MM/yyyy'}}</small></p>
            <span
                *ngFor="let type of pokemon.types"
                class="{{type | pokemonTypeColorPipe}}">
                {{type}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
